* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

@font-face {
    font-family: Passero One;
    src: url(/font/PasseroOne-Regular.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: Passero One;
    font-size: 45px;
    text-align: center;
    color: #FCFF52;
    margin-top: 5%;
    text-shadow: -2px -2px 0 #552606,
              2px -2px 0 #552606,
              -2px 2px 0 #552606,
              2px 2px 0 #552606;
}

strong {
    font-family: 'Coiny', cursive;
    color: white;
    text-shadow: -2px -2px 0 #000000,
              2px -2px 0 #000000,
              -2px 2px 0 #000000,
              2px 2px 0 #000000;
}

h2 {
    font-family: Passero One;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: -2px -2px 0 #552606,
              2px -2px 0 #552606,
              -2px 2px 0 #552606,
              2px 2px 0 #552606;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 3% auto;
}

label {
    width: 100%;
}

.card-title {
    text-align: center;
    padding: 10px;
    font-family: "Candara";
    font-size: 20px
}

.card-status {
    text-align: center;
    padding: 7px;
    font-family: "Candara";
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.img {
    width: 200px;
    height: 200px;
    border-top: 2px solid #552606;
    border-bottom: 2px solid #552606;
}

.card-input-element {
    display: none;
}

.card-input {
    background-color: rgb(238, 206, 101);
    border: 2px solid #552606;
    box-shadow: 3px 3px rgb(9, 75, 14);
    margin: 30px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.card-input-element:checked + .card-input {
     border: 5px solid #552606;
     transform: translateY(-4px);
}